.LoginPrompt {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.login-form-box {
  position: relative;
  width: calc(100% - 1rem);
  max-width: 450px;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
}

.login-form-box > h1 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.login-form-box > h1 span {
  display: block;
}

.login-form-box > h1 span:nth-child(1) {
  font-size: 3rem;
  line-height: 3rem;
}

.login-form-box > h1 span:nth-child(2) {
  font-size: 1rem;
  text-transform: uppercase;
  line-height: 1rem;
  letter-spacing: 1px;
}

.login-input-wrp {
  position: relative;
  width: 100%;
}

.login-input-wrp > svg {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  fill: #919191;
}

.login-input-wrp > input {
  width: 100%;
  height: calc(1rem + 25px);
  margin-bottom: 1rem;
  padding-left: calc(25px + 1rem);
  border: none;
  border-radius: 5px;
  background-color: #e8e8e8;
  font-size: 1rem;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.login-input-wrp > input:focus {
  outline: 2px solid var(--cyan);
}

.login-form-box small {
  position: relative;
  display: block;
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}

.login-form-box small:before {
  content: "";
  position: absolute;
  top: 2px;
  left: 0;
  display: block;
  height: 2rem;
  width: 3px;
  border-radius: 5px;
  background-color: var(--blue);
}

.login-form-box small a {
  color: var(--blue);
  text-decoration: none;
}

.login-btn {
  width: 100%;
  height: calc(25px + 1rem);
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(-15deg, var(--blue), var(--blue));
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

.login-btn:hover {
  background-image: linear-gradient(-15deg, var(--blue), var(--cyan));
  cursor: pointer;
}
