@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --cyan: #4bcae7;
  --blue: #357bec;
  --dark: #242424;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--dark);
}

body {
  width: 100vw;
  height: 100vh;
}

.fancy {
  background: -webkit-linear-gradient(-15deg, var(--cyan), var(--blue));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dim {
  color: #5d5d5d;
}

.bold {
  font-weight: 600;
}

.thick {
  font-weight: 800;
}
